{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <form method="POST">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
            <div data-mdb-input-init class="form-outline">
                <input type="text" id="form3Example1" class="form-control" name="firstname"/>
                <label class="form-label" for="form3Example1">First name</label>
            </div>
            </div>
            <div class="col">
            <div data-mdb-input-init class="form-outline">
                <input type="text" id="form3Example2" class="form-control" name="lastname"/>
                <label class="form-label" for="form3Example2">Last name</label>
            </div>
            </div>
        </div>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control" name="email"/>
            <label class="form-label" for="form3Example3">Email address</label>
        </div>


        <!-- Password1 input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" name="password1"/>
            <label class="form-label" for="form3Example4">Password</label>
        </div>
        <!-- Password2 input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" name="password2"/>
            <label class="form-label" for="form3Example4">Password</label>
        </div>


        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
            <label class="form-check-label" for="form2Example33">
            Subscribe to our newsletter
            </label>
        </div>

        <!-- Submit button -->
        <button type="submit" data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Sign up</button>

        <!-- Log in button -->
           <p>
             <a href="{{ url_for('auth.login') }}" class="btn btn-primary">
                Log in
             </a>
           </p>
        <!-- Register buttons -->
        <div class="text-center">
            <p>or sign up with:</p>
            <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
            </button>

            <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-google"></i>
            </button>

            <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-twitter"></i>
            </button>

            <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
            <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
{% endblock %}